.pane{
  padding: 1em;
}


.tab-header-icon {
	width: 28px;
	height: 28px;
	display: block;
	flex-shrink: 0;
	left: 18px;
	position: absolute;

	svg {
		width: 28px;
		height: 28px;
	}
}

.tab-header-title {
	transform: translateX(100%);
	transition: transform 0.2s ease-in;
	transform-origin: center right;
	display: block;
	text-align: center;
	text-indent: 28px;
	width: 100%;
}
